name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release-x86_64:
    name: Release x86_64
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build --release

      - name: Package
        run: |
          cd target/release
          tar czf ../../lumen-x86_64-linux-gnu.tar.gz lumen

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: lumen-x86_64-linux-gnu.tar.gz
          token: ${{ secrets.GITHUB_TOKEN }}

  release-aarch64:
    name: Release ARM64
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build --release

      - name: Package
        run: |
          cd target/release
          tar czf ../../lumen-aarch64-linux-gnu.tar.gz lumen

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: lumen-aarch64-linux-gnu.tar.gz
          token: ${{ secrets.GITHUB_TOKEN }}